* {
  padding: 0;
  margin: 0;
}

body {
  height: 500px;
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 50px;
  font-size: 50px;
}

p {
  padding: 20px;
  font-size: 20px;
}

input {
  padding: 20px 5px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
}

#submit {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(59, 82, 255, 0.79);
  border: solid 1px black;
  border-radius: 5px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
